<!-- Left Sidebar - style you can find in sidebar.scss _LeftSidebar.cshtml  -->
<aside class="left-sidebar">
    <div class="d-flex no-block nav-text-box align-items-center">
        @*<span><img src="../assets/images/logo-icon.png" alt="elegant admin template"></span>*@
        <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)">
            <i class="mdi mdi-toggle-switch"></i>
        </a>
        <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)">
            <i class="ti-menu ti-close"></i>
        </a>
    </div>
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false" title="Aplikacja, strona startowa">
                        <i class="icon-home"></i><span class="hide-menu">Aplikacja</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Route" title="Aplikacja, dostępne akcje kontrolerów">
                                <small class="hide-menu">Aplikacja, dostępne akcje kontrolerów</small><i class="ti-link p-t-5"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                @await Html.PartialAsync("~/Areas/IUIntegrationSystemApp/Views/ServerWorkerService/Shared/Elegant/Admin/_LeftSidebar.cshtml")
                @await Html.PartialAsync("~/Areas/IUIntegrationSystemApp/Views/ServerFileImportFromIcasa/Shared/Elegant/Admin/_LeftSidebar.cshtml")
                @await Html.PartialAsync("~/Areas/IUIntegrationSystemApp/Views/InvoiceFromIcasaCsv/Shared/Elegant/Admin/_LeftSidebar.cshtml")
                @await Html.PartialAsync("~/Areas/PortalApiGusApp/Views/Shared/Elegant/Admin/_LeftSidebar.cshtml")
                @await Html.PartialAsync("~/Areas/KnfApp/Views/Shared/Elegant/Admin/_LeftSidebar.cshtml")
                @await Html.PartialAsync("~/Areas/EulerHermesApp/Views/Shared/Elegant/Admin/_LeftSidebar.cshtml")
                <li>
                    <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false" title="Serwis Rzeczypospolitej Polskiej / Ministerstwo Finansów / Krajowa Administracja Skarbowa / Api Wykazu Podatników Vat">
                        <i class="has-arrow ti-layout-grid2"></i>
                        <span class="hide-menu">
                            <small>Ministerstwo Finansów</small><br />
                            <small>Wykaz podatników VAT</small>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a asp-area="" asp-controller="WykazPodatnikowVat" asp-action="Search" title="Api Wykazu Podatników Vat - Wyszukiwanie podmiotów">
                                <small class="hide-menu">Wyszukiwanie podmiotów</small><i class="ti-search p-t-5"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="WykazPodatnikowVat" asp-action="Check" title="Api Wykazu Podatników Vat - Sprawdzanie podmiotów">
                                <small class="hide-menu">Sprawdzanie podmiotów</small><i class="ti-check p-t-5"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="WykazPodatnikowVat" asp-action="RequestAndResponseHistory" title="Api Wykazu Podatników Vat - historia wyszukiwania">
                                <small class="hide-menu">Historia wyszukiwania</small><i class="ti-time p-t-5"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="WykazPodatnikowVat" asp-action="Settings" title="Api Wykazu Podatników Vat - Wyszukiwanie podmiotów ustawienia">
                                <small class="hide-menu">Ustawienia</small><i class="ti-settings p-t-5"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="WykazPodatnikowVat" asp-action="Route" title="Api Wykazu Podatników Vat - Lista dostępnych tras">
                                <small class="hide-menu">Lista dostępnych tras</small><i class="ti-link p-t-5"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Authentication" asp-action="GenerateJwtToken" title="Api Wykazu Podatników Vat - Pobierz klucz (token) API">
                                <small class="hide-menu">Pobierz klucz (token) API</small><i class="ti-key p-t-5"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false" title="System integracji Webcon BPS (BPSMainAtt)">
                        <i class="has-arrow ti-layout-grid2"></i>
                        <span class="hide-menu">
                            <small>System integracji</small><br />
                            <small>Webcon BPS (BPSMainAtt)</small>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a asp-area="" asp-controller="BPSMainAtt" asp-action="Settings" title="System integracji Webcon BPS (BPSMainAtt) - ustawienia">
                                <small class="hide-menu">Ustawienia</small><i class="ti-settings p-t-5"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="BPSMainAtt" asp-action="Route" title="System integracji Webcon BPS (BPSMainAtt) - dostępne akcje">
                                <small class="hide-menu">Lista dostępnych tras</small><i class="ti-link p-t-5"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false" title="Komisja Europejska - Unia Celna i Podatkowa - VIES">
                        <i class="has-arrow ti-layout-grid2"></i>
                        <span class="hide-menu">
                            <small>Komisja Europejska</small><br />
                            <small>Unia Celna i Podatkowa - VIES</small>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a asp-area="" asp-controller="Vies" asp-action="Index" title="Komisja Europejska - Unia Celna i Podatkowa - VIES - wyszukiwanie podmiotów, podstawowe">
                                <small class="hide-menu">Wyszukiwanie podmiotów, podstawowe</small><i class="ti-search p-t-5"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Vies" asp-action="CheckVatApprox" title="Komisja Europejska - Unia Celna i Podatkowa - VIES - wyszukiwanie podmiotów, rozszerzone">
                                <small class="hide-menu">Wyszukiwanie podmiotów, rozszerzone</small><i class="ti-search p-t-5"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Vies" asp-action="Settings" title="Komisja Europejska - Unia Celna i Podatkowa - VIES - ustawienia">
                                <small class="hide-menu">Ustawienia</small><i class="ti-settings p-t-5"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Vies" asp-action="Route" title="Komisja Europejska - Unia Celna i Podatkowa - VIES - dostępne akcje">
                                <small class="hide-menu">Lista dostępnych tras</small><i class="ti-link p-t-5"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- End Left Sidebar  _LeftSidebar.cshtml  -->