<!-- Navbar Collapse _NavbarCollapse.cshtml -->
<div class="navbar-collapse">
    <!-- toggle and nav items -->
    <ul class="navbar-nav mr-auto">
        <!-- Left Sidebar Nav Item -->
        @await Html.PartialAsync("_LeftSidebarNavItem.cshtml")
        <!-- End Left Sidebar Nav Item -->
        @await Html.PartialAsync("_TopSearch.cshtml")
        <!-- Top Notify Comment -->
        @*@await Html.PartialAsync("_TopNotifyComment.cshtml")*@
        <!-- End Top Notify Comment -->
        <!-- Top Notify Messages -->
        @*@await Html.PartialAsync("_TopNotifyMessages.cshtml")*@
        <!-- End Top Notify Messages -->
    </ul>
    <ul class="navbar-nav my-lg-0">
        <!-- mega menu -->
        @*@await Html.PartialAsync("_MegaMenu.cshtml")*@
        <!-- End mega menu -->
        <!-- User Profile And Search -->
        @await Html.PartialAsync("_UserProfileAndSearch.cshtml")
        <!-- End User Profile And Search -->
        <!-- Right Sidebar Nav Item -->
        @*@await Html.PartialAsync("_RightSidebarNavItem.cshtml")*@
        <!-- End Right Sidebar Nav Item -->
    </ul>
</div>
<!-- End Navbar Collapse _NavbarCollapse.cshtml -->