[submodule "SimpleImpersonation"]
	path = SimpleImpersonation
	url = https://github.com/mj1856/SimpleImpersonation
[submodule "EncryptDecrypt"]
	path = EncryptDecrypt
	url = https://github.com/paulpiotr/EncryptDecrypt.git
[submodule "Log4netLogger"]
	path = Log4netLogger
	url = https://github.com/paulpiotr/Log4netLogger
[submodule "PortalApiGus"]
	path = PortalApiGus
	url = https://github.com/paulpiotr/PortalApiGus.git
[submodule "Icasa"]
	path = Icasa
	url = https://github.com/paulpiotr/Icasa.git
[submodule "EntropyOfCardShuffling"]
	path = EntropyOfCardShuffling
	url = https://github.com/paulpiotr/EntropyOfCardShuffling.git
[submodule "IUIntegrationSystem"]
	path = IUIntegrationSystem
	url = https://piotrpaulisk@dev.azure.com/piotrpaulisk/IUIntegrationSystem/_git/IUIntegrationSystem
[submodule "NetAppCommon"]
	path = NetAppCommon
	url = https://github.com/paulpiotr/NetAppCommon.git
[submodule "RabbitMQPublisherCommon"]
	path = RabbitMQPublisherCommon
	url = https://github.com/paulpiotr/RabbitMQPublisherCommon.git
[submodule "SerwisRzeczypospolitejPolskiej"]
	path = SerwisRzeczypospolitejPolskiej
	url = https://github.com/paulpiotr/SerwisRzeczypospolitejPolskiej.git
[submodule "RabbitMQDockerComposeCommon"]
	path = RabbitMQDockerComposeCommon
	url = https://github.com/paulpiotr/RabbitMQDockerComposeCommon.git
[submodule "RabbitMQWorkerServiceCommon"]
	path = RabbitMQWorkerServiceCommon
	url = https://github.com/paulpiotr/RabbitMQWorkerServiceCommon.git
