@{ ViewData["Title"] = "Brak uprawnień."; }

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6 align-items-center">
        <div class="jumbotron bg-transparent">
            <div class="container text-center shadow p-0">
                <div class="card bg-danger text-white m-0 p-0 align-middle">
                    <div class="card-header text-left">@ViewData["Title"]</div>
                    <div class="card-body text-justify">
                        Program @System.Reflection.Assembly.GetEntryAssembly().GetName().Name nie może otworzyć lokalizacji @Context.Request.Query["ReturnUrl"]. Nie masz uprawnień do otwierania tej lokalizacji. Skontaktuj się z administratorem uprawnień.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>