@model AdvertisingCampaign.Models.AdvertisingCampaign
@using WebApplicationNetCoreDev.Helpers

@{ ViewData["Title"] = "AdvertisingCampaign Create"; }
<div class="row">
    <div class="col-sm-12 align-self-center text-right">
        <div class="d-flex justify-content-start align-items-center">
            <ol class="breadcrumb justify-content-start bg-light">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "AdvertisingCampaign")">AdvertisingCampaign</a></li>
                <li class="breadcrumb-item">
                    Create New
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 align-self-center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerClick" class="control-label"></label>
                <input asp-for="PricePerClick" class="form-control" />
                <span asp-validation-for="PricePerClick" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfClicks" class="control-label"></label>
                <input asp-for="NumberOfClicks" class="form-control" />
                <span asp-validation-for="NumberOfClicks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> Create</button>
                    <a class="btn btn-outline-primary" asp-action="Index"><i class="fas fa-backward"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

@Html.Script(
@<script type="text/javascript">
     $(function () {
         $("input[name='PricePerClick']").each(function (i, element) {
             $(element).change(function () {
                 var value = parseFloat($(this).val().replace(",", "."));
                 if (value < 0 || !value) {
                     value = 0;
                 }
                 $(this).val(value.toFixed(4).replace(".", ","));
             });
         });
         $("input[name='NumberOfClicks']").each(function (i, element) {
             $(element).change(function () {
                 var value = parseInt($(this).val().replace(",", "."));
                 if (value < 0 || !value) {
                     value = 0;
                 }
                 $(this).val(value.toFixed(0).replace(".", ","));
             });
         });
     });
</script>)
