<!-- Logo _Logo.cshtml -->
<div class="navbar-header" title="@System.Reflection.Assembly.GetEntryAssembly().GetName().Name">
    <a class="navbar-brand p-l-5" href="/">
        <!-- Logo icon -->
        <b>
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            @*<img src="../assets/images/logo-icon.png" alt="XL Service Web" class="dark-logo" />*@
            <span class="dark-logo p-1"><i class="ti-layout-grid2"></i></span>
            <!-- Light Logo icon -->
            @*<img src="../assets/images/logo-light-icon.png" alt="XL Service Web" class="light-logo" />*@
            <span class="light-logo p-1"><i class="ti-layout-grid2"></i></span>
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span title="@System.Reflection.Assembly.GetEntryAssembly().GetName().Name">
            <!-- dark Logo text -->
            @*<img src="../assets/images/logo-text.png" alt="XL Service Web" class="dark-logo" />*@
            <span class="dark-logo p-1 font-10">@System.Reflection.Assembly.GetEntryAssembly().GetName().Name</span>
            <!-- Light Logo text -->
            @*<img src="../assets/images/logo-light-text.png" alt="XL Service Web" class="light-logo" />*@
            <span class="light-logo p-1 font-10">@System.Reflection.Assembly.GetEntryAssembly().GetName().Name</span>
        </span>
    </a>
</div>
<!-- End Logo _Logo.cshtml -->