<!-- Preloader - style you can find in spinners.css _Preloader.cshtml -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">XL Service Web</p>
    </div>
</div>
<!-- End Preloader _Preloader.cshtml -->