<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="D:\Users\piotr.paul\Source\Repos\NetCoreDev\WebApplicationNetCoreDev\bin\Debug\netcoreapp3.1\WebApplicationNetCoreDev.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <authentication>
          <anonymousAuthentication enabled="true" />
          <windowsAuthentication enabled="true">
            <!--<providers>
              <add value="Negotiate" />
              <add value="NTLM" />
            </providers>-->
          </windowsAuthentication>
        </authentication>
        <!--<windowsAuthentication enabled="true" authPersistNonNTLM="true">-->
        <!--<providers>
            <add value="Negotiate" />
            <add value="NTLM" />
          </providers>-->
        <!--</windowsAuthentication>-->
      </security>
    </system.webServer>
  </location>
  <!--<system.web>
    <authentication mode="Windows" />
  </system.web>-->
  <!--<system.web>
    <authorization>
      <allow roles=".\User" />
      <deny users="*" />
    </authorization>
  </system.web>-->
  <!--<appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="true" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>-->
</configuration>