@{ ViewData["Title"] = "Error Page"; }
<div class="text-center">
    <h1 class="display-4 text-dark">Error, We have a problem in @System.Reflection.Assembly.GetEntryAssembly().GetName().Name</h1>
    <p class="display-4 text-dark">Sorry, an error occurred while executing your request.</p>
</div>